@import url('./reset.scss');

* {
  box-sizing: border-box;
}

#root {
  height: 100vh;
  overflow: auto;
}

.rootCon {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.contentBody {
  display: flex;
  flex: 1;
  width: 100%;
  overflow: auto;
}

.content {
  flex: 1;
}

.sessionInfo {
  flex: 1;
  background: #e2e2e2;
  height: 100%;
}

.session {
  display: none;
  &.active {
    display: flex;
  }
}
